DATABASE_ENDPOINT=
CHATENGINE_PRIVATE_KEY=
CHATENGINE_PROJECT_ID=
RAPID_API_KEY=
RAPID_PARAPHRASING_HOST=
RAPID_PARAPHRASING_URL=
RAPID_PARAPHRASING_URL_RETRIEVE=
RAPID_PLAGIARISM_HOST=
RAPID_PLAGIARISM_URL=