.home-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: url('../../assets/background.png');
    background-size: cover;
    background-position: center;
    background-position: fixed;
}

.home-text{
    text-align: center;
    max-width: 800px;
    line-height: 1.4;
}

.home-text h1{
    font-size: 35px;
    font-weight: 600;

}

.home-text p{
    font-size: 20px;
    font-weight: 500;
    margin: 10px;
    
}

.background{
    height: 100%;
    width: 100%;
    background-size: cover ;
    background-position: center;
    z-index: -1;
}