.cards-container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(252, 252, 252);
    max-width: 1300px;
    width: 100%;
    margin: auto;
    margin-top: 30px;
}

section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-container h1{
    color: beige;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 4%;
    text-decoration: underline;
}

.no-cards-text{
    font-size: 18px;
    line-height: 60px;
    text-align: center;
    margin-top: 65%;
    color: rgb(252, 252, 252);
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.card{
    color: rgb(255, 255, 255);
    flex:  0 0 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    width: 100%;
    background: rgb(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    transition: .3s;
    border: 4px solid transparent;
    background: url('../../assets/project-bgi.gif');
}

.card:hover{
    border-color: rgb(214, 171, 59);
}

@media(max-width: 969px){
    section{
        padding: 20px 0px;
    }
    h1{
        font-size: 30px;
        line-height: 40px;
    }
    .card{
        flex: 0 0 calc(50% - 20px);
        max-width:  calc(50% - 20px);

    }
}

@media(max-width: 600px){
    .card{
        flex: 0 0 100%;
        max-width:  100%;
        
    }
}

.btn-card{
    outline: none;
    cursor: pointer;
    color: white;
    background-color:rgb(238, 131, 60);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-top: 20px;
    max-width: 120px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.btn-card:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(253, 159, 44);
    border: 2px solid rgb(255, 128, 1);
}

.btn-card-leave{
    outline: none;
    cursor: pointer;
    color: rgb(238, 131, 60);
    background-color:rgba(0, 0, 0, 0.81);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    margin-top: 20px;
    max-width: 70px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-card-leave:hover{
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 128, 1);
}