.content{
    /* margin: 24px 100px; */
    padding: 20px;

    justify-content: center;
    align-items: center;
}

.ant-layout{
    background: url('../../assets/dashboard.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
}


.ant-btn:hover{
    color:rgb(255, 255, 255) !important;
    border-color: rgb(255, 255, 255) !important;
}

/* Header */

.header{
    padding-top: 16px;
    background: rgba(0, 0, 0, 0.5);
}

.header-container .ant-typography{
    color:  rgb(247, 247, 247) !important;
}

.header-icon{
    background: white;
    padding: 8px;
    border-radius: 4px;
    font-size: 15px;
    color:chocolate;
    cursor: pointer;
}

/* Side bar*/

.sider{
    height: 100vh;
    position: sticky !important;
    left: 0;
    bottom: 0;
    top: 0;
}

.layout-sider{
    color: black !important;
}

.dash-layout{
    color: black !important;
}


.sidebar-logo{
    color:rgb(246, 151, 0);
    margin: 35px 0px 0px 0px;
    font-size: 1.2rem;
}

.ant-menu-item-selected{
    background-color: rgb(0, 0, 0) !important;
    color: white !important;
}


.menu-bar{
    display: flex;
    flex-direction: column;
    color: black;
    gap: 10px;
    font-weight: 500;

}

.sider-btn{
    font-size: 16px;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 10px;
    left: 10px;
}
